__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
.DS_Store
.venv/
venv/

report.aux
report.log
report.out

ML-TakehomeProject.pdf
instruct.md
ploting_patch.md
segment/seg_instruct.md
segment/segment_patch.md
**/*.md
!/README.md

*.swp
*.swo
